
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: all .45s ease;
    height: var(--size-hd);

    &.hide{
    }
    &.sticky {
        height: var(--size-sc);
    }
    &-wrap {
        position: relative;
        height: 100%;
        z-index: 141 ;
        transition: all .3s ease;
        @include flex-col;
        background: var(--white);
        filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
    }
    &-left{
        display: flex;
        align-items: center;
        gap: 1.2rem;
        --wic: 3.2rem;
        @include min(1200px){
            display: none;
        }
    }
    &-txt {
        font-size: 1.4rem;
        font-weight: 600;
        color: var(--color-text);

        @include max(768px) {
            text-align: center;
        }
    }
    &-flex {
        position: relative;
        transition: all .3s ease;
        height: 100%;
        &-in {
            height: 100%;
            width: 100%;
            @include flex;
            align-items: center;
            justify-content: space-between;
            gap: 2.4rem;
            margin: auto;
            position: relative;
            transition: all .3s ease;
            @include max(800px){
                gap: 1.2rem;
            }
            .header-nav{
                margin-left: auto;
            }
        }
      
    }

    &-nav {
        margin: 0 auto;
        @include max(1199px) {
            display: none;
        }
    }
 
    &-logo {
        position: relative;
        @include flex;
        align-items: center;
        transition: all .4s ease;
        gap: .8rem;
        @include max(1199px){
            position: absolute;
            top: .8rem;
            left: 50%;
            padding: .8rem;
            background-color: var(--white);
            transform: translate(-50%, 0);
            border-radius: 100%;
        }
        @include min(801px){
            flex-shrink: 0;
        }
        .custom-logo-link,
        a,
        &-link {
            width: var(--logo);
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            max-height: 100%;
            transition: all .4s ease;

            img {
                width: 100%;
                max-height: 100%;
                height: 100%;
                display: block;
                object-fit: contain;
            }
        }
     
    }

    &-action {
        --wic: 3.2rem;
        @include flex;
        align-items: center;
        position: relative;
        gap: 1.6rem;
        @include max(1199px){
            gap: 1.2rem;
            .header-cart{
                display: none;
            }
        }
    }
    &-cart{
        position: relative;
        width: var(--wic);
        height: var(--wic);
        transition: all .3s ease;
        .icon{
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: flex-end;
            img{
                @include icon(80%);
            }
        }
        .numb{
            position: absolute;
            top: - .2rem;
            right: - .2rem;
            padding: .4rem .7rem;
            border: .1rem solid var(--white);
            background-color: var(--color-bg);
            font-size: 1.4rem;
            line-height: 1;
            border-radius: 3rem;
            color: var(--white)
        }
    }

    .menu-icon {
        @include mid-flex;

        @include min(1200px) {
            display: none;
        }
    }
 
}
.header.sricky{
    .mncart {
        top: var(--size-sc);
    }
}
.mncart {
    position: fixed;
    top: var(--size-hd);
    right: 0;
    height: calc(100vh - var(--size-hd));
    z-index: 101;
    width: 50rem;
    @include flex;
    flex-direction: column;
    transition: all .5s ease;
    // transform: translateX(100%);
    max-width: 95%;

    &.open {
        transform: translateX(0);
    }
    &-overlay {
        position: fixed;
        width: 100%;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100vh;
        background: var(--border-07);
        z-index: 100;
        transition: all .4s ease;
        width: 0;

        &.open {
            width: 100%;
        }
    }
    &-wr {
        height: 100%;
        @include flex;
        flex-direction: column;
        background: linear-gradient(180deg, #2F4A1F 0%, #527235 100%);
    }

    &-bdy {
        flex: 1; 
        min-height: 0;
        @include flex;
        padding: var(--dist48) 0;
        flex-direction: column;

        @include max(800px) {
            padding: 1.6rem 0;
        }
    }

    &-close {
        position: absolute;
        top: var(--dist12);
        right: var(--dist12);
        border: .1rem solid var(--color-second);
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 100%;
        color: var(--color-second);
        font-size: 1.4rem;
        @include mid-flex;
        cursor: pointer;
        transition: all .3s ease;
        @include hover{
            transform: rotate(360deg);
        }
        @include min(1201px) {
            // display: none;
        }

        i {
            transition: all .3s ease;
        }
    }

    &-inner {
        flex: 1;
        min-height: 0; 
        max-height: 100%;
        overflow: hidden auto;
    }



    &-head {
        border-bottom: .1rem solid var(--color-second);
        padding: 0 var(--dist24) 1.2rem;
        @include flex;
        align-items: flex-end;
        gap: .8rem;
        @include max(600px) {
            padding: 0 1.2rem 1.2rem;
        }
    }
    &-tt {
        color: var(--white);
        @include fz-40;
        font-weight: 700;
        text-transform: uppercase;
        @include fontsec;
        line-height: 1.2;
    }

    &-inner {
        padding: 0 var(--dist24);
    }

    &-item {
        position: relative;
        padding: 1.4rem 0;
        @include flex;
        gap: var(--dist32);
        align-items: center;
        &:not(:last-child) {
            border-bottom: .1rem solid var(--color-second);
        }
        .numb{
            color: var(--white);
        }
        .pduct{
            flex-direction: row;
            border-radius: 0;
            &-img{
                width: 8rem;
                .inner{
                    padding-top: 100%;
                }
            }
            &-tt{
                @include fz-20;
            }
        }
    }
    &-gr{
        padding: var(--dist48) 0;
        @include mid-flex;
    }
    &-link {
        @include mid-flex;
        width: 3.2rem;
        height: 3.2rem;
        transition: all .3s ease;
        transform: translateY(-.5rem);
        img{
            @include icon(100%);
        }
    }

}