
.fbtn
    each val,index in Array(4)
        .fbtn-item 
            a.fbtn-link(href="")
                +img(`sc-${index + 1}.png`)
.back-to-top.backToTop.backToTopJs
    .icon
        i.fa-light.fa-arrow-up
    .icon
        i.fa-light.fa-arrow-up
    .icon
        i.fa-light.fa-arrow-up


script(src='./assets/library/jquery/jquery.js')
script(src='./assets/library/swiper/swiper-bundle.min.js')
script(src='./assets/library/aos/aos.js')
script(src='./assets/library/select2/select2.min.js')
script(src='./assets/library/gallery/lightgallery-all.min.js')
script(src='./assets/library/jquery/jquery-migrate.js')
script(src='./assets/library/fancybox/fancybox.umd.js')
script(src='./assets/library/datetime/moment.min.js')
script(src='./assets/library/datetime/daterangepicker.min.js')
script(src='./assets/library/gsap/gsap.min.js')
script(src='./assets/library/gsap/MotionPathPlugin.min.js')
script(src='./assets/library/gsap/ScrollTrigger.min.js')
script(src='./assets/library/pushin/pushin.min.js')
script(src='./assets/library/smoothscroll/SmoothScroll.min.js')
script(src='./assets/library/particles/particles.min.js')
script(src='./assets/library/splitting/splitting.min.js')
script(src='./assets/library/masonry/masonry.pkgd.min.js')
script(src='./assets/library/splide/splide-extension-auto-scroll.min.js')
script(src='./assets/library/splide/splide-extension-grid.min.js')
script(src='./assets/library/splide/splide.min.js')
script(src='./assets/library/infiniteslidev2/infiniteslidev2.min.js')

script(src='./js/main.js' type='module')

